# Default ignored files
/../../EcoTrace-E.T./.idea/shelf/
/../../EcoTrace-E.T./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../EcoTrace-E.T./.idea/httpRequests/
# Datasource local storage ignored files
/../../EcoTrace-E.T./.idea/dataSources/
/../../EcoTrace-E.T./.idea/dataSources.local.xml
